section:nth-of-type(2){
   z-index: 500;width: 100%; height: 100%;
    visibility: hidden; pointer-events: none;
}
section:nth-of-type(2).active{
    visibility: visible;pointer-events:auto;
 }
.character-container{
    width: 100%; height: 100%;position: relative;
   
}

.character-container .nav-wrap{
    width: 15%; height: 100%;position: absolute; right:-15%;
    z-index: 1000; pointer-events: none;
}
.character-container .nav-wrap.active{
    width: 15%; height: 100%;position: absolute; right:0%;
    z-index: 1000;pointer-events: auto;
}

.character-container .nav-wrap .character-nav {
    width: 100%; position: absolute; right:0;
    top:50%; transform: translateY(-50%);
}
.character-container .nav-wrap .character-nav ul{
    width: 100%; display: flex;flex-direction: column;  justify-content: center;
    height: 100%; padding: 0;margin: 0; 
  
}
.character-container .nav-wrap .character-nav ul li{
    width: 100%; margin: 2% 0%;padding: 1% 0;
    list-style: none; text-align: center; 
}
.character-container .nav-wrap .character-nav ul li p{
    font-family: 'Montserrat', sans-serif; cursor: pointer;
    font-weight: 500;font-size: 1rem; color:#ffffff; 
    margin: 0;
    width: 50%; position: relative; left: 50%; transform: translateX(-50%);
}
.character-container .bg-section{
    position: absolute; width: 60%;height: 100%; right:-5%;pointer-events: none;
    transition: 0.3s ease-in-out; opacity: 0; visibility: hidden; 
}
.character-container .bg-section.active{
   transition: 0.3s ease-in-out;opacity: 1;right:0%;visibility: visible;
   pointer-events: auto;
}
.character-container .bg-section  .bg-imgs{
    position: relative; width: 100%; height: 100%;
}
.character-container .bg-section .black-box {
    position: absolute; width: 100%; height: 100%; right:0; background-color: rgba(0, 0, 0, 0.378);
    z-index: 100;
}
.character-container .bg-section  .bg-imgs img{
   position: absolute; width: 100%; height: 100%; object-position: 0% 50%;
   object-fit: cover;
}
.character-container .box{
    position: absolute; width: 55%;height: 100%; left: -5%; 
    background-color: #4F0BC1; z-index: 100;
    clip-path: polygon(0 0, 95% 0%, 75% 100%, 0% 100%);
    transition: 0.3s ease-in-out;opacity: 0; visibility: hidden; 
}
.character-container .box.active{
    left: 0%; transition: 0.3s ease-in-out;opacity: 1; visibility: visible; 
}
.character-container .character-content{
    width: 60%; height: 100%; z-index: 1000; position: relative; left:9%;
    transition: 0.3s ease-in-out;opacity: 0; visibility: hidden; 
}
.character-container .character-content.active{
    transition: 0.3s ease-in-out;opacity: 1; visibility: visible; 
}
.character-container .character-content .back-arrow{
   width: 6%; height: 6%;  position: absolute; top:13%;
   left: 3%;z-index: 500; display: flex; align-items: center; cursor: pointer;
} 
.character-container .character-content .back-arrow span:first-of-type{
    width: 10px;height: 10px; ; position: absolute;
    border-left:solid 2px white;border-bottom:solid 2px white; transform: rotate(45deg);
}
.character-container .character-content .back-arrow span:last-of-type{
    width: 100%; position: absolute; height:2px; background-color: white;
}
.character-container .character-content .character-intro{
    width: 85%; height: 100%; position: absolute; 
    display: flex; justify-content: center;align-items: center;
}
.character-container .character-content .character-intro .character-box{
    width: 100%; height: 70%; position: relative; 
    display: flex;flex-direction: column; padding: 2%;
}
.character-container .character-content .character-intro .character-box .character-text{
    width: 100%; height: 40%;
    font-family: 'Montserrat', sans-serif; color:#ffffff; margin: 5% 0;
}
.character-container .character-content .character-intro .character-box .character-text h1{
    font-weight: 700;font-size: 6rem; color:#ffffff; 
    margin:0;
}
.character-container .character-content .character-intro .character-box .character-text p:first-of-type{
    font-weight: 200;font-size: 1rem; color:#ffffff; 
    margin: 2% 0 5% 0;
}
.character-container .character-content .character-intro .character-box .character-text p:last-of-type{
    font-weight: 100;font-size: 1rem; color:#ffffff; 
    margin: 0; line-height: 1.5rem; width: 80%; height: 60%;
}
.character-container .character-content .character-intro .character-box .still-cut{
    width: 100%;  margin-top: 5%; height: 40%;
}
.character-container .character-content .character-intro .character-box .still-cut p{
    font-family: 'Montserrat', sans-serif; color:#ffffff;
    font-weight: 600;font-size: 1rem; color:#ffffff; margin: 0;
}
.character-container .character-content .character-intro .character-box .still-cut .still-list .line{ 
    width: 100%; height: 1px; background-color: white; 
    margin: 2% 0;
}
.character-container .character-content .character-intro .character-box .still-cut .still-list{
    width:90%;  display: flex; flex-direction: column; height: 50%;
}
.character-container .character-content .character-intro .character-box .still-cut .still-list ul{
    width: 100%; display: flex; height: 50%; margin: 0; padding: 0;
}
.still-cut .still-list ul .cutWrap{
    width: 100%; list-style: none;  height: 100%;margin: 0px 5px 0px 5px;
}

.still-cut .still-list ul .cutWrap figure{
   width: 100%; margin: 2% 0%; position: relative;
   cursor: pointer;
}

.still-cut .still-list ul .cutWrap figure img{
    width: 100%; object-fit: cover;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.still-cut .still-list ul .cutWrap figure .plus{
    width: 50px; height: 50px;  position: absolute;z-index: 1000;
    top:50%;left:50%;  transform: translate(-50%, -50%); 
}
.still-cut .still-list ul .cutWrap figure .plus span{
    width: 20px; height: 1px; background-color: white; position: absolute;z-index: 1000;
    top:50%;left:50%;  transform: translate(-50%, -50%); 
}
.still-cut .still-list ul .cutWrap figure .plus span:last-of-type{
   transform: translate(-50%, -50%)  rotate(90deg);
}

.still-cut .still-list ul .cutWrap figure:hover img{
    -webkit-filter: grayscale(0);
   filter: grayscale(0); 
}
.still-cut .still-list ul .cutWrap figure:hover span{
   display: none;
}