*{
    box-sizing: border-box;
}
section:nth-of-type(3){
    z-index: 1000;width: 100vw; height: 100%;
    background-color: blueviolet;
 }

.gallery-container{
    width: 100vw; height: 100vh; position: absolute; 
}
.gallery-container .bg-section{
    width: 100%; height: 100%; position: absolute; 
}
.gallery-container .bg-section .black-box{
    width: 100%; height: 100%; position: absolute; background-color: #6544a3;
}
.gallery-container .bg-section img{
    width: 100%; height: 100%; object-fit: cover; opacity: 0.4;
}
.gallery-container .poster-area{
    position: fixed; width: 100%; height: 100%;
}
.gallery-container .poster-area h1{
    position: absolute; 
}
.gallery-container .poster-area .poster-content{
    width: 100%; height:100%; position: absolute; 
}
.gallery-container .poster-area .poster-content .poster-list{
    width: 100%; height:100%; position: absolute;
}
.gallery-container .poster-area .poster-content .poster-list ul{
    width: 100%; height: 100%;
    position: absolute; top:50%; margin: 0;
    transform: translateY(-50%);
    
}
.gallery-container .poster-area .poster-content .poster-list ul > li {
    list-style: none;
    /* transform-origin: 150% 0%;  */
    position: absolute;top: 50%;right:50%;
    transform: translate(-50%, -50%);
    width: 200px; height: 300px;
    overflow: hidden; 
}
.gallery-container .poster-area .poster-content .poster-list >ul>li>img{
    width: 200px; object-fit: cover; position: absolute;
}