@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
    margin:0;
    background-color:none;
    position: fixed;z-index: 9999;left: 0; top:3%;width: 80%;height: 7%;
    display: flex; flex-direction: row; 
    align-items: center; 
}

header .logo{height: 100%; margin-left:5%;}
header .logo > a {height: 100%;  display:flex; align-items: center;  justify-content:center;}
header .logo > a > img {width: 40px;}
header .jw-nav{width: 30%; height: 100%;  display: flex;}
header .jw-nav ul{width: 30%; padding:0;position: absolute; top: 25%;  transform: translateY(-25%);display: flex; flex-direction: row; left: 15%; align-items: center; }
header .jw-nav ul li{list-style: none;   cursor: pointer;}
header .jw-nav ul li:nth-of-type(2){margin-left: 10%; margin-right: 10%;}
header .jw-nav ul li > a{
    font-family: 'Montserrat', sans-serif; cursor: pointer;
    font-weight: 500;font-size: 1rem; color:#ffffff; letter-spacing: 2px;
    text-decoration: none; text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

header .jw-nav ul li > a{
    font-family: 'Montserrat', sans-serif; cursor: pointer;
    font-weight: 500;font-size: 1rem; color:#ffffff; letter-spacing: 2px;
    text-decoration: none; text-transform: uppercase;
}
header .jw-nav ul li > a.active{color:red;}
.ham-navigaion{display: none; width: 100%; height: 100%;  position:absolute; top:0; right: 0;}
.ham-btn-container{width: 100%; height: 100%;  position: relative;z-index: 9999;}
.johnwick-ham-btn{width: 50px; height: 50px; position: absolute; right:0; z-index: 9999;}
.johnwick-ham-btn button{width: 100%; height: 100%; position: relative; outline: 0; border: 0; background: 0; cursor: pointer;}
.btn-line{
    width: 50%;height: 30%; position: absolute;top:50%; left:50%; transform: translate(-50%,-50%);
    display: flex; flex-direction: column; justify-content: space-between;
}
.btn-line span{width: 100%; height: 2px; background: rgb(255, 255, 255);}
.buger-container{
    width: 100%; height: 0vh; position: absolute;  top:0;
    opacity: 0;transition: 0.5s ease-in-out; visibility: hidden;
}
.buger-container.active{width: 100%; height: 100vh;  opacity: 1;transition: 0.5s ease-in-out;visibility: visible;}
.buger-cover{
    width: 100%; height: 0%;  background: linear-gradient( -45deg, #6c2adf, #4F0BC1, #2f33ff); position: relative; 
    opacity: 0;transition: 0.5s ease-in-out;visibility: hidden;
}
.buger-cover.active{width: 100%; height: 100%;  opacity: 1;  transition: 0.5s ease-in-out;visibility: visible;}
.buger-johnwick-list {position: absolute; top:50%; left:50%; transform: translate(-50%,-50%);}
.buger-johnwick-list ul{margin: 0; padding: 0}
.buger-johnwick-list li{margin-bottom: 20%; text-align: center; list-style: none;}
.buger-johnwick-list li a{
    font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: 1.5rem; text-transform: uppercase;
    text-decoration: none; color:white;text-align: center; cursor: pointer;
}