html,
body{
    width: 100%; height: 100%;
    margin:0; padding:0;
   
    color:white; 
   
}
.wrap{
    width: 100%; height: 100%;position: relative;
    margin: 0; top:0;
}
section {
    width: 100%; height: 100%; position: absolute;
}
section:nth-of-type(2) {
   display: none;
}

/* main*/
.main-container{
    width: 100%; height: 100%;position: relative;
}
.main-container .bg-section{
    width: 100%; height: 100%; position: relative;
}
.main-container .box-shadow{
    width: 50%;height: 100%; 
    background:linear-gradient(to right, rgba(0, 0, 0, 0.645) 70%, rgba(0, 0, 0, 0));
    position: absolute; z-index: 1;
    /* x-position y-position blur spread color */
    /* box-shadow: 0px 0 100px 0px rgb(124, 121, 121); */
}
.main-container  .bg-section .bg-img{
    width: 100%; height: 100%; position: absolute; transform: scaleX(-1);
}
.main-container .bg-section .bg-img img{
    width: 100%;height: 100%;
    object-fit: cover;
}

.main-container .main-area{
    width: 50%; height: 100%; position: absolute; z-index: 3;
    top:0; display: flex; justify-items: center; align-items: center;
}

.main-container .main-area .main-content{
    width: 80%; height: 100%; position: relative; flex-direction: column;
    top:25%; display: flex; left: 15%;
}

.main-container .main-area .main-content .main-intro{
    width: 100%; height: 100%; position: absolute;
    top:0; display: flex; flex-direction: column;
}
.main-container .main-area .main-content .main-intro .main-text{
    width: 100%; height: 50%; display: flex; flex-direction: column;
}
/* .main-container .main-area .main-content .main-intro .main-text h1{
    font-family: 'Montserrat', sans-serif; cursor: pointer;
    font-weight: 700;font-size: 6rem; color:#ffffff;
    text-decoration: none; text-transform: uppercase; margin:0;
} */
.main-container .main-area .main-content .main-intro .main-text .title-img{
    width: 75%;
}
.main-container .main-area .main-content .main-intro .main-text .title-img img{
    width: 100%;
}

.main-container .main-area .main-content .main-intro .main-text h2{
    font-family: 'Montserrat', sans-serif; cursor: pointer;
    font-weight: 500;font-size: 2rem; color:#ffffff; letter-spacing: 1px;
    text-decoration: none; text-transform: uppercase; margin:3% 0 3% 0;
}
.main-container .main-area .main-content .main-intro .main-text p{
    font-family: 'Montserrat', sans-serif; cursor: pointer;
    font-weight: 100;font-size: 1rem; color:#ffffff;
    text-decoration: none; margin:0;
    width: 75%; text-align: justify;
}
.main-container .main-area .main-content .main-intro .main-text .movie-Info{
    width: 100%; height: 15%; margin-top: 5%; 
}
.main-container .main-area .main-content .main-intro .main-text .movie-Info ul{
    width: 70%;margin:0; padding: 0;
}
.main-container .main-area .main-content .main-intro .main-text .movie-Info ul li{
    font-family: 'Montserrat', sans-serif; ;line-height: 1.5rem;
    font-weight: 100;font-size: 1rem; list-style: none; display: inline;margin-right:20px;
}
.main-container .main-area .main-content .main-intro .main-text .movie-Info ul li:first-of-type{
    display: block; margin-bottom: 2%;
}
.main-container .main-area .main-content .main-intro .main-text .movie-Info ul li strong{
    font-family: 'Montserrat', sans-serif; cursor: pointer;
    font-weight: 500;font-size: 1rem; margin-right:10px;
}

.main-container .main-area .main-content .main-intro .main-text .InfoBtn{
    width: 100%; height: 30%; 
}
.main-container .main-area .main-content .main-intro .main-text .InfoBtn button{
    width: 25%;
    height: 30%; border-radius: 20px; padding: 3%; position: relative;
    border:solid 1px white; background: none; margin-right:2%; margin-top:5%;
}
.main-container .main-area .main-content .main-intro .main-text .InfoBtn button p{
    width: 100%; padding:0; text-align: center; 
    font-family: 'Montserrat', sans-serif; cursor: pointer;
    font-weight: 300;font-size: 1rem; text-transform: uppercase;
    position: absolute;top:50%;left: 0;transform: translateY(-50%);
 }