html,
body{
    width: 100%; height: 100%;
    margin:0; padding:0;
    background-color: rgb(184, 0, 0);
    color:white; 
   
}
.wrap{
    width: 100%; height: 100%;position: relative;
    margin: 0; top:0;
}
section {
    width: 100%; height: 100%; position: absolute;
}
section:nth-of-type(2) {
   display: none;
}

/* main*/
.main-container{
    width: 100%; height: 100%;position: relative;
}
.main-container .bg-section{
    width: 100%; height: 100%; position: relative;
}
.main-container  .bg-section .bg-img{
    width: 100%; height: 100%; position: absolute; transform: scaleX(-1);
}
.main-container .bg-section .bg-img img{
    width: 100%;height: 100%;
    object-fit: cover;
}

.main-container .main-area{
    width: 50%; height: 100%; position: absolute; background-color: aqua;
    top:0; display: flex; justify-items: center; align-items: center;
}

.main-container .main-area .main-content{
    width: 80%; height: 60%; position: relative; flex-direction: column;
    top:0; display: flex; left: 15%;
}

.main-container .main-area .main-content .main-intro{
    width: 100%; height: 100%; position: absolute;
    top:0; display: flex; flex-direction: column;
}
.main-container .main-area .main-content .main-intro .main-text{
    width: 100%; height: 50%; background-color: blueviolet;
}
.main-container .main-area .main-content .main-intro .main-text h1{
    font-family: 'Montserrat', sans-serif; cursor: pointer;
    font-weight: 700;font-size: 6rem; color:#ffffff;
    text-decoration: none; text-transform: uppercase; margin:0;
}
.main-container .main-area .main-content .main-intro .main-text div{
    font-family: 'Montserrat', sans-serif; cursor: pointer;
    font-weight: 300;font-size: 2rem; color:#ffffff;
    text-decoration: none; text-transform: uppercase; margin:0;
}
.main-container .main-area .main-content .main-intro .main-text p{
    font-family: 'Montserrat', sans-serif; cursor: pointer;
    font-weight: 500;font-size: 1rem; color:#ffffff; letter-spacing: 3px;
    text-decoration: none; text-transform: uppercase; margin:0 0 3% 0;
}
.main-container .main-area .main-content .main-intro .main-text p{
    font-family: 'Montserrat', sans-serif; cursor: pointer;
    font-weight: 100;font-size: 1rem; color:#ffffff;
    text-decoration: none; margin:0;
    width: 75%; text-align: justify;
}
.main-container .main-area .main-content .main-intro .main-text .movie-Info{
    width: 100%; height: 30%; margin-top: 5%;
}
.main-container .main-area .main-content .main-intro .main-text .movie-Info ul{
    width: 100%;margin:0; padding: 0;
}

